body {margin:0;}

ul.header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #533;
    position: fixed;
    top: 0;
    width: 100%;
  }

  li.b a{
    float: left;
    border-right: 1px solid #bbb;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li.b a:hover:not(.active) {
    background-color: #111;
  }

.active {
    background-color: #4CAF50;
}

hr.style-seven {
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr.style-seven:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div.submitThing {
    border-radius: 5px;
    background-color: #f9bc9c;
    padding: 20px;
}

hr.style2 {
    border-top: 3px double #8c8b8b;
}

div.announce{
    max-width:53%;
    margin:40px auto;
    background:#fff;
    border-radius:25px;
    padding:15px;
    font-family: Georgia, "Times New Roman", Times, serif;
    border-style: solid;
    border-width: 1.8px;
}