body {margin:0;}

ul.header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #533;
    position: fixed;
    top: 0;
    width: 100%;
  }

  li.b a{
    float: left;
    border-right: 1px solid #bbb;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li.b a:hover:not(.active) {
    background-color: #111;
  }

.active {
    background-color: #4CAF50;
}
