<!DOCTYPE html>
<html>
<head>
  <title>Stuy Announcements</title>
  <link rel="stylesheet" type="text/css" href="../static/header.css">
</head>
<body>

  <ul class="header">
    <li class="b"><a href="/home">Home</a></li>
    <li class="b"><a href="/submit">New Announcement</a></li>
    <li class="b"><a href="#contact">Contact</a></li>
    <li class="b"><a class="active" href="/about">About</a></li>
  </ul>

  <div style="text-align: center; padding:30px;margin-top:30px;background-color:#f9bc9c;height:100px;">
    <a href="/home"><img src="../static/logo.png" alt="logo" style="float:left;width:75px;height:75px;"></a>
    <a href="/home"><img src="../static/logo.png" alt="logo" style="float:right;width:75px;height:75px;"></a>
    <h1 style="font-family: 'Droid serif', serif; font-size: 40px; font-weight: bold; font-style: italic;">Stuyvesant High School Announcements</h1>
    <hr class="style-seven">
  </div>

  <div style="text-align: center; padding:15;background-color:#f9bc9c;height:1000px;">
  	<img src="../static/pandas.gif" alt="potoo" style="width:500;height:500px;">
  </div>
</body>
</html>
