<!DOCTYPE html>
<html>
<head>

    <script type="text/javascript" src="lib/jquery.js"></script>
    <script type="text/javascript" src="lib/jquery-ui.js"></script>
    <script type="text/javascript" src="MultiDatesPicker/jquery-ui.multidatespicker.js"></script>
    <!--
    <link rel="stylesheet" type="text/css" href="MultiDatesPicker/css/mdp.css">
    <link rel="stylesheet" type="text/css" href="MultiDatesPicker/css/prettify.css">
    <script type="text/javascript" src="js/prettify.js"></script>
    <script type="text/javascript" src="js/lang-css.js"></script>
-->
    <script>
   		$('#datePick').multiDatesPicker();
    </script>
</head>

<body>
  <input id ="datePick" type="text"/>
</body>

</html>