<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='fullcalendar/fullcalendar.css' />
    <script src='lib/jquery.js'></script>
    <script src='lib/moment.js'></script>
    <script src='fullcalendar/fullcalendar.js'></script>
    <script>
    $(document).ready(function() {

    // page is now ready, initialize the calendar...

    $('#calendar').fullCalendar({
        // put your options and callbacks here
    })
}); </script>

    <title>Submit New Announcement</title>
  </head>
  <body>
    {% if error != None %}
    {% for e in error %}
    <h1>{{e}}</h1>
    {% endfor %}
    {% endif %}
    <form action="/submit" method="post">
       <input type="text" name="club" value="{{club}}">
      <input type="text" name="submitter" value="{{submitter}}">
      <!--<input type="text" name="date" value="{{date}}">-->
      <input type="text" name="osis" value="{{osis}}">
      <br>
      <input type="text" name="short" value="{{short_form}}">
      <br>
      <br>
      <input type="text" name="long" value="{{long_form}}">
      <br>
      <input type="submit" value="Submit">
    </form>
    <div id='calendar'></div>
  </body>
</html>
